# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/
env/

# OS / editor
.vscode/
.idea/
.DS_Store

# Secrets
.env

# C++ / CMake builds
build-engine/
CMakeFiles/
CMakeCache.txt
*.exe
*.dll
*.lib
*.obj

# Runtime / data
data/
logs/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
